.body-background {
  background-color: lightgray;
  height: 1000px;
}

.white-background {
  background-color: whitesmoke;
  height: 150px;
}

.black-background {
  background-color: black;
  color: whitesmoke;
  height: 200px;
}

.footer-background {
	background-color: #292929;
	height: 500px;
	padding-top: 20px;
}

.colorblocktop {
  padding-top: 40px;
  padding-left: 60px;
  padding-right: 60px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
	width: 100%;
}

li {
    /* float: right;  */
	/* width: 25%;  */
}

li a {
	float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 20px 60px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

.home-button{
	float: left;
	padding: 20px;
	background-color: #333;
}

.column {
	color: white;
}

footer-separator {
	width: 500px;
}
